/*************/
html,body{
    min-width:1000px;
    font-size:14px;

}
body{
    background:#edece5;
}
.container{
    width:980px;
    margin:0 auto;
    border-left:1px solid #e5e5e5;
    border-right:1px solid #e5e5e5;
    border-top:1px solid #e5e5e5;
    background: #fff;
    margin-top:20px;
    padding:20px 20px 20px 20px;
    box-shadow: 0 0 5px #ccc;
}
/**********top*********/
.top div{
    margin-bottom:20px;
}
h1{
    font-size:25px;
    margin-bottom:10px;
    text-align:center;
}
h2{
    font-size:20px;
}
hr{
    margin:10px 0 10px 0;
}
p{
    text-indent: 30px;
    line-height:30px;
}
.top ul {
    margin-left:50px;

}
.top ul li{
    line-height:35px;
}
/***********content************/
.content>div h2{
    margin-bottom:20px;
}
.content-box{
    margin-bottom:20px;
}
.content-box h3{
    margin-bottom:10px;
}
.content-box p{
    text-indent:0;
    padding-left:30px;
}
.content-box ul{
    padding-left:30px;
    line-height:30px;
}


